* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body styles */
body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}


/* header and Footer Fonts */
/* used the same font family removed duplicates */
header, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* header section styles */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}
/* company name  */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* company name (seo inside h1 element) */
header h1 .seo {
    color: #d9dcd6;
}
/* header placement */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
/* navigation ul*/
header nav ul {
    list-style-type: none;
}
/* navigation ul list search-online-social */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* END Header section styles */

/* anchor Link Styles */
a {
    color: #ffffff;
    text-decoration: none;
    
}
/* paragraph styles */
p {
    font-size: 16px;
}
/* Hero/jumbotron Section Styles */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* END Hero/jumbotron Section Styles */

/* Content Section Styles */
/* multiple duplicates moved to content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Article Section Styles */
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    overflow: auto;
}

/* Article Images */
.content article img {
    max-height: 200px;
    width: 35%;
}

/* Article div sections that float next to images */
.content article div {
    float: left;
    width: 65%;
}

/* Article header 2 styles */
.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* float image to left */
.float-left {
    float: left;
}

/* float image to right */
.float-right {
    float: right;
}

/* Adds padding to left  */
.padding-left {
    padding-left: 20px;
}
/* Adds padding to right */
.padding-right {
    padding-right: 20px;
}

/* END Content Section Styles */


/* Benefits Section Styles */
/* Multiple duplicates moved to benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    display: block;
}
/* benefits div */
.benefits div {
    margin-bottom: 32px;
    text-align: center;
}

/* Benefits header 3 styles */
.benefits div h3 {
    margin-bottom: 10px;
}

/* Benefits Images */
.benefits div img {
    margin: 10px auto;
    max-width: 150px;
}

/* Benefits paragraph */
.benefits p {
    text-align: left;
}
/* END Benefits Section Styles */

/* Footer Styles */
/*  */

.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    color: black;
}
/* Footer Header 2 */
.footer h2 {
    font-size: 20px;
    color: black;
}
/* END Footer Styles */